<div class="testing-container">
  <div class="testing">
    <%= link_to "Submit Feedback", new_feedback_path %>
    <h3 class="testing__heading">Testing Instructions (For Team Members)</h3>
    <ol class="testing__list">
      <li class="testing-list__question-container">
        <h5 class="testing-list__question">
          Open another browser window and navigate to the app. Have these instructions in one window, and the app in another.
        </h5>
      </li>
      </li>
      <li class="testing-list__question-container">
        <h5 class="testing-list__question">
          Click on <strong>Admin</strong> in the navbar and then click on <strong>"Manage forms"</strong>.
          Select the <strong>"Create a New Form Type"</strong> link at the top of the page.
        </h5>
      </li>
      <li class="testing-list__question-container">
        <h5 class="testing-list__question">
          Add and remove fields as you wish in order to test out the Form Builder. The title of the form must be unique. Try Setting it as <strong>"Forklift Inspection"</strong> and click the submit button...the app should come back with an error message saying that name has already been taken. Set it to <strong>your name</strong> and click on the submit button....this should succeed.
        </h5>
      </li>
      <li class="testing-list__question-container">
        <h5 class="testing-list__question">
          You should have been redirected to page that allows Admins to manage forms. Find your name under the "Form Type" column of the table and click on the 
          <strong>Edit</strong> icon. You should be redirected to the form that you just created. Add form fields as you wish and click on the <strong>Update</strong> button. You will be redirected to the Form Overview Page. 
        </h5>
      </li>
      <li class="testing-list__question-container">
        <h5 class="testing-list__question">
          Click on the <strong>Forms</strong> link in the top navigation bar. Click on the form you just created and updated (Your name) under <strong>"Create a new form"</strong>. Fill out all fields, upload as many images as you want, and click the <strong>Create</strong> button.
          You should be redirected to the overview page that has your form in the <strong>"Recently Submitted Forms Table</strong>.
        </h5>
      </li>
      <li class="testing-list__question-container">
        <h5 class="testing-list__question">
          Click on the <strong>"Trash Can Icon"</strong> to delete the form you just submitted.
        </h5>
      </li>
    </ol>

    <h4>I will be able to see all of the transactions that you just completed, and will be able to confim that your form was uploaded to MS Azure successfully. If you run into any errors during this process let me know.</h4>
  </div>
  <div class="testing__feedback-link">
    
  </div>
</div>

