<div class="container mobile-show-container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="new-form-links__header">Create a new form:</h4>  
    </div>
  </div>

  <% @form_types.each do |form_type| %>
    <div class="row new-form-link-container--mobile text-center">
      <div class="col-md-12">
        <%= link_to new_form_type_form_path(form_type), id: "create-new-form-#{form_type.id}" , class: "new-form-link" do %>
          <button type="button" class="new-form-link--mobile btn-lg btn-default"><%= form_type.name %></button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
