<h4>Create a new form</h4>
<% @form_types.each do |form_type| %>
  <div>
    <%= link_to "#{form_type.name}", new_form_type_form_path(form_type), id: "create-new-form-#{form_type.id}" %>
  </div>
<% end %>
<br>
<br>

<h4>My Recent Forms</h4><br>

<% @forms.each do |form| %>
  <div>
    <%= link_to "#{form.form_type.name}", form_type_form_path(form.form_type, form) %>
  
    <div>User: <%= form.user.first_name %></div>
  </div>
  <br>
<% end %>
