<div class="container mobile-show-container">
  <div class="alert alert-warning">
    The app will be unavailable from <strong>5PM, 26 April 2019 (Friday)</strong> until <strong>4AM, 29 April 2019 (Monday)</strong> to allow for major improvements.  
  </div>
  
  <% @form_categories.each do |form_category| %>
    <h4 class="new-form-links__header"><%= form_category.name %></h4>
    <div class="row new-form-link-container--mobile text-center">
      <% form_category.form_types.active.each do |form_type| %>
        <div class="col-md-12">
          <%= link_to new_form_type_form_path(form_type), id: "create-new-form-#{form_type.id}" , class: "new-form-link" do %>
            <button type="button" class="new-form-link--mobile btn-lg btn-default"><%= form_type.name %></button>
          <% end %>
        </div>
      <% end %>    
    </div>  
  <% end %>
</div>

