<div class="container">
  <div class="row admin-container">
    <h4 class="admin-header">Admin Actions:</h4>
    <div class="col-md-12">
      <ul class="admin-items">
        <li class="admin-item">
          <%= link_to "Invite a New User", new_user_invitation_path, class: "admin-link" %>    
        </li>
        <li class="admin-item">
          <%= link_to "Manage Forms", form_types_path, class: "admin-link" %>    
        </li>
        <li class="admin-item">
          <%= link_to "View App Feedback", feedbacks_path, class: "admin-link" %>    
        </li>
      </ul>
    </div>
  </div>
</div>


