<div class="container">
  <div class="row admin-container">
    <h4>Admin Actions:</h4>
    <div class="col-md-12">
      <ul class="admin-actions-list">
        <li>
          <%= link_to "Invite a New User", new_user_invitation_path %>    
        </li>
        <li>
          <%= link_to "Create a New Form Type", new_form_type_path %>    
        </li>
      </ul>
    </div>
  </div>
</div>


