.home {
  background-color: $color-white;
}

//------------------ Image Slider ------------------//

.img-container {
  height: calc(100vh - #{$height-nav-bar});

  &__img {
    width: 100%;
    height: 100%;
  }
}


//------------------ Services Section ------------------//

.services {
  position: relative;
  max-width: 90%;
  padding: 5rem 0;
  margin: -15rem auto;
  border-radius: .5rem;
  overflow-x: hidden;
  background-color: $color-grey-light-3;
  box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
  text-align: center;

  &__desc {
    width: 70%;
    margin: 0 auto;
    font-size: 2rem;
  }
}

//--------- Service Cards ---------//

.service-cards {
  padding: 7rem;
  display: flex;
  justify-content: space-between;
}

.service-card {
  height: 37rem;
  position: relative;
  perspective: 200rem;
  flex-basis: 33.333%;
  margin-right: 2rem;

  &__side {
    height: 37rem;
    width: 100%;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-grey-dark-1, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      background-color: $color-grey-light-1;
      transform: rotateY(180deg);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__img {
    background-size: cover;
    height: 17rem;

    &--first {
      background-image: asset_url("services1.jpg");
    }

    &--second {
      background-image: asset_url("services2.jpg");
    }

    &--third {
      background-image: asset_url("services3.jpg");
    }
  }

  &__title {
    padding: 1.5rem;
    font-size: 2.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-secondary;
  }

  &__details {

    ul {
      width: 70%;
      margin: 0 auto;
      list-style: none;

      li {
        text-align: center;
        font-size: 1.5rem;
        color: $color-grey-dark-2;
        padding: .5rem 0;

        &:not(:last-child){
          border-bottom: 1px solid $color-grey-light;
        }
      }
    }
  }
}


























