//------------------ Image Slider ------------------//

.img-container {
  height: 60vh;

  &__img {
    width:100%;
  }
}

.slick-dots {
  bottom: 2rem;  
}

.slick-dots li button:before {
    font-size: 1.5rem;
    color: $color-white;
}