<h4>Job Number: <%= @form.job_number %></h4>

<p>A <%= @form.form_type.name %> was submitted by <%= @form.user.display_name %> that contains a failure.</p>

<p>Please see the attachments to download the form and images of the failure.</p>