.contact-bar {
  padding: 0 15rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: $color-black;


  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 2rem;
    fill: $color-grey-light;
  }

  &__text {
    color: $color-grey-light;
    font-size: 1.3rem;
    margin-left: 2rem;
  }
}