.nav {
  height: 7rem;
  padding: 0 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;

  &__links {
    flex: 1;
    margin-left: 10rem;
    display: flex;
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link,
  &__contact-btn {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    color: $color-black;
  }

  &__contact-btn {
    border: 2px solid currentColor;
    padding: .5rem 1rem;
    border-radius: 2rem;  
  }
}