.nav {
  position: relative;
  z-index: 100;
  height: $height-nav-bar;
  padding: 0 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  
  &__logo {
    color: $color-primary;
    font-size: 5rem;
  }

  &__items {
    flex: 1;
    margin-left: 8rem;
    display: flex;
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5rem;
    }
  }

  &__link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    color: $color-grey-dark-1;
  }
  
  &__contacts {
    @include centered-flex;
  }

  &__contact-icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-grey-dark-1;
  }
}