<tr class="pass-fail-table__row">
  <td class="pass-fail-table__property">
    <%= f.label field.name %>
  </td>
  <td>
    <div class="pass-fail-table__x">
      <%= f.radio_button field.name, "pass" %>
    </div>
  </td>
  <td>
    <div class="pass-fail-table__x">
      <%= f.radio_button field.name, "fail" %>
    </div>
  </td>
</tr>