<div class="row form-text-field-container">
  <div class="col-md-12">
    <%= f.label field.name, class: "form-text-field__name" %>:
    <%= f.text_field field.name, class: "form-text-field" %>
  </div>
</div>