<div class="row form-text-field-container">
  <div class="col-md-12">
    <%= f.label field.name, class: "form-text-field__name" %>:
    <%= f.text_area field.name, class: "form-text-field", rows: 7 %>
  </div>
</div>