*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// html, body {
//   position: relative;
//   overflow-x: hidden;
// }


html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

textarea:focus, input:focus{
  outline: none;
}