body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;
  color: $color-secondary;
  line-height: 1.6;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}