//-------------  Fonts -------------//

$font-primary: 'Work Sans', sans-serif;


//-------------  Colors -------------//

$color-primary: #810D0A;
$color-primary-light: #EEE2E1;
$color-secondary: #283139;
$color-secondary-dark: #20272D;

$color-white: #fff;

$color-grey-light: #E9EEF2;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-black: #000;

$color-warn: #f7e9b9;



//-------------  Heights (Used for calculations) -------------//

$height-nav-bar: 7rem;