<ul class="contact-bar">
  <li class="contact-bar__item">
    <%= display_icon("phone", "contact-bar__icon") %>
    <span class="contact-bar__text">
      555-555-5555
    </span>
  </li>
  <li class="contact-bar__item">
    <%= display_icon("clock", "contact-bar__icon") %>
    <span class="contact-bar__text">
      Mon - Fri : 9:00AM to 5:00PM
    </span>
  </li>
</ul>