<!-- TODO: Add UM Logo -->
<footer class="footer">
  <div class="footer__logo-box">
    <h1 class="footer__logo">UM</h1>
    <p class="footer__copyright">&copy;2019 Team Build-IT</p>
  </div>

  <div class="footer__nav">
    <ul class="footer__links">
      <li>
        <%= link_to "Privacy Policy", root_path, class: "footer__link" %>
      </li>
      <li>
        <%= link_to "Terms", root_path, class: "footer__link" %>
      </li>
      <li>
        <%= link_to "Developers", root_path, class: "footer__link" %>
      </li>
    </ul>
  </div>

  <div class="footer__btn-portal-box">
    <%= link_to "Employee Portal", root_path, class: "footer__btn-portal" %>
  </div>
</footer>
