<div class="nav">
  <div class="nav__logo-box">
    <h1>UM</h1>
  </div>

  <ul class="nav__links">
    <li class="nav__item">
      <a href="#" class="nav__link">About Us</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Services</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Projects</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Projects</a>
    </li>
  </ul>

  <div class="nav__contact">
    <%= link_to "Contact Us", root_path, class: "nav__contact-btn" %>
  </div>
</div>