<div class="slide-show">
  <div class="img-container">
    <%= image_tag("slide1.jpg", class: "img-container__img") %>
  </div>
  <div class="img-container">
    <%= image_tag("slide2.jpg", class: "img-container__img") %>
  </div>
  <div class="img-container">
    <%= image_tag("slide3.jpg", class: "img-container__img") %>
  </div>
</div>
