<div class="row text-center">
  <div class="col-md-6">
    <h4>User Sign Up</h4>    
    <%= line_chart stats_new_users_path, colors: ["#810D0A", "#666"] %>
  </div>

  <div class="col-md-6">
    <h4>Forms Submitted</h4>    
    <%= line_chart stats_new_forms_path, colors: ["#810D0A", "#666"] %>
  </div>
</div>



