<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <% if @feedback.unresolved? && (current_user.email == User.first.email) %>
        <%= link_to "Resolve", resolve_feedback_path(@feedback), method: :patch, data: { confirm: "Are you sure this issue has been resolved?" } %>
      <% end %>
    </div>
  </div>

  <div class="panel panel-primary testing-panel">
    <div class="panel-heading">
      <h3 class="panel-title"><strong><%= @feedback.title %></strong></h3>
    </div>
    <div class="panel-body">
      <%= @feedback.description %> 
    </div>
  </div>
</div>