<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <% if @feedback.unresolved? %>
        <%= link_to "Resolve", resolve_feedback_path(@feedback), method: :patch, data: { confirm: "Are you sure this issue has been resolved?" } %>
      <% else %>
        <span class="label label-success">This issue has been resolved</span>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <%= @feedback.title %>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-12">
      <%= @feedback.description %>    
    </div>
  </div>
</div>