.admin-container {
  margin-top: 5rem;
  text-align: center;
}

.admin-header {
  font-size: 3rem;
}

.admin-items {
}

.admin-item {
  list-style: none;
  font-size: 2rem;
  margin-top: 3rem;
}

.admin-link {

}