.feedback-container {
  text-align: center;
  width: 60%;
}

.feedback-form-container {
  margin: 3rem auto;
}

.feedback-form {
  text-align: center;

  &__heading {
    margin-top: 3rem;
    font-weight: 700;
    text-decoration: underline;
  }

  &__submit-btn {
    margin-top: 3rem;
  }

  &__input {
    font-size: inherit;
  }
}