//------------------ New Form Links ------------------//

.new-form-links {
  
  &__header {
    
  }
}

.new-form-link {
  
  &__container {
    text-align: center;
    padding: 3rem;
    border: 1px solid $color-grey-light-4;
    margin-top: 3rem;
  }
}

.new-form-type-link {
  margin-top: 3rem;
  text-align: center;
}

.icon--add {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  fill: green;
}

//------------------ Forms Table ------------------//

.forms-table-container {
  margin-top: 10rem;
}

.forms-table {
  background-color: $color-white;
  
  &__form-link {
    color: $color-primary;

    &:active,
    &:hover {
      color: $color-primary;
      font-weight: 700;
    }
  }

  &__header {
    font-size: 1.7rem;
  }

  &__search-bar {
    width: 50%;
    font-size: inherit;
  }
}

.icon--trash {
  margin-left: .3rem;
}

