.form-overview-content {
  margin-top: 4rem;
}

.new_form_type,
.edit_form_type {
  font-size: 1.7rem;
  min-height: 100vh;
  background-color: $color-white;
  padding: 3rem;
  border: 1px solid $color-grey-light-4;
}

.new_form_type {

  &__name {
    grid-column: 1 / -1;
    
    text-align: center;  
    margin-top: 3rem;
  }

  &__name-field {
    margin: 3rem 0 1rem 0;
    width: 50%;
    height: 4rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid $color-grey-light-4;

    &::placeholder {
      color: $color-grey-light-4;
    }

    &:hover,
    &:active {
      outline: none;
    }
  }

  &__checklist {
    grid-column: 1 / -1;
  }
  
  &__image-upload {
    text-align: center;
    margin-top: 5rem;
  }

  &__submit {
    grid-column: 1 / -1;
    text-align: center;
  }

  &__header-fields-container,
  &__footer-fields-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, min-content);
  }

  &__footer-fields-container {
    margin-top: 7rem;
  }

  &__text-field {
    height: 3rem;
    width: 70%;
    font-size: inherit;

    &--check {
      height: 3rem;
      width: 80%;
      font-size: inherit;
    }
  }

  &__add-field-icon {
    height: 1.3rem;
    width: 1.3rem;
    fill: green;
    transition: all .2s;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__icon-remove-field {
    width: .7rem;
    height: .7rem;
    fill: $color-primary;
    transition: all .2s;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__btn-submit {
    margin-top: 7rem;
    font-size: 1.7rem;
    color: $color-primary;
    padding: .5rem 3rem;
    border: none;
    border: 2px solid currentColor;
    border-radius: 3rem;

    &:hover {
      cursor: pointer;
      color: $color-white;
      background-color: $color-primary
    }
  }

}

.nested-fields {
  text-align: center;
  margin-bottom: 2rem;
}


// ------------ Checklist Columns ------------ //

.checklist-fields-container {
  width: 70%;
  margin: 5rem auto;
  text-align: center;
  border: 1px solid $color-grey-light-4;
  border-radius: .3rem;
  display: grid;
  grid-template-columns: 30rem repeat(2, 1fr);
  grid-template-rows: min-content;
}

.checklist-fields {
}

.checklist-field-container {
  margin-top: 2rem;
}

.checklist-col-name {
  padding: .2rem;
  border-bottom: 1px solid $color-grey-light-4;
}

.pass-col,
.fail-col {
  border-left: 1px solid $color-grey-light-4;
}


// ------------ Index ------------ //

.new-form-type-link-container {
  text-align: center;
  margin: 3rem 0;
}


.form-types-table {
  margin: 0 auto;
  margin-bottom: 10rem;
  width: 50%;
}
