//------------------ New Form Links ------------------//

.new-form-links {
  
  &__header {
    
  }
}

.new-form-link-container {
  margin-top: 3rem;
  text-align: center;
}

.new-form-link {
  padding: .7rem 3rem;
  color: $color-primary;
  border: 2px solid currentColor;
  border-radius: 1rem;
  background-color: $color-white;
  
  &:not(last-child) {
    margin-right: 1rem;
  }



  &:active,
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    text-decoration: none;
  }
}



//------------------ Forms Table ------------------//

.forms-table-container {
  margin-top: 10rem;
}

.forms-table {
  background-color: $color-white;
  
  &__form-link {
    color: $color-primary;

    &:active,
    &:hover {
      color: $color-primary;
      font-weight: 700;
    }
  }

  &__header {
    font-size: 1.7rem;
  }

  &__search-bar {
    width: 50%;
  }
}

.icon--trash {
  margin-left: .3rem;
}

