<div class="nested-fields">
  <div class="checklist-field-container">
    <%= link_to_remove_association display_icon("cross", "new_form_type__icon-remove-field"), f %>
    <%= f.text_field :name, class: "new_form_type__text-field" %>
  </div>
</div>
