<tr class="nested-fields">
  <td>
    <%= link_to_remove_association display_icon("cross", "icon-remove-field"), f %>
  </td>
  <td><%= f.text_field :name %></td>
  <td><%= f.select :field_type, FormField::FIELD_TYPE_OPTIONS %></td>
  <td><%= f.check_box :required %></td>
</tr>