<div class="nested-fields">
  <%= link_to_remove_association display_icon("cross", "new_form_type__icon-remove-field"), f %>
  <%= f.text_field :name, class: "new_form_type__text-field" %>
  <%= f.select :field_type, FormField::FIELD_TYPE_OPTIONS %>
</div>