.icon {
  display: block;

  &--md {
    margin-top: -.2rem;
    width: 1.7rem;
    height: 1.7rem;

    &:hover,
    &:active {
      fill: $color-primary;
    }
  }

  &--sm {
    width: 1rem;
    height: 1rem;

    &:hover,
    &:active {
      fill: $color-primary;
    }
  }

  &--danger {
    fill: $color-primary;
  }

  &--warn {
    fill: $color-warn;
  }
}