.company-header {
  padding: 3rem;

  &__logo {
    width: 6rem;
  }

  &__name, 
  &__contact {
    color: $color-grey-dark-2;
    font-weight: 600;
  }

  &__name {
    margin-top: .3rem;
    font-size: 1.8rem;
    text-align: center;
  }

  &__contact {
    text-align: right;
    font-size: 1rem;
  }
}




//------------- Media Queries -------------//

// @media only screen and (max-width: 600px) {
//   .company-header {
//     display: none;
//   }
// }

// @media only screen and (max-width: 1000px) {
//   .company-header {
//     &__contact,
//     &__name {
//       display: none;
//     }
//   }
// }


