.container {
  margin: 0 auto;
  background-color: $color-grey-light-1;
  // min-height: 50rem;
}

.header {
  height: 6rem;
  background-color: $color-white;
  border-bottom: 2px solid $color-grey-light-3;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: $color-white;
  border-right: 2px solid $color-grey-light-3;
  min-height: 100vh;
}

.portal-content {
  background-color: $color-grey-light-1;
  flex: 1;
  padding: 4rem;
}





































