.navbar {
  height: 10rem;

  &__logo {
    width: 7rem;
  }

  &__logo-text {
    font-size: 1.3rem;
  }

  &__link {
    color: $color-grey-dark-1;
    
    &:hover,
    &:active {
      text-decoration: none;
      color: $color-primary;
      fill: $color-primary;
    }
  }

  &__active {
    text-decoration: none;
    color: $color-primary;
    fill: $color-primary;
  }
}

.nav-item--left {
  &:not(last-child) {
    margin-right: 8rem;
  }
}


