.navbar {
  height: 10rem;

  &__logo {
    width: 7rem;
  }

  &__logo-text {
    font-size: 1.3rem;
  }
}

.nav-item--left {
  &:not(last-child) {
    margin-right: 4rem;
  }
}

.nav-item--right {
  &:not(last-child) {
    margin-right: .5rem;
  }
}

.dropdown-item {
  font-size: 1.5rem;
}