.navbar-brand {
  margin-right: 3rem;
  margin-top: .7rem;
}

.navbar {
  &__logo {
    display: inline-block;
    width: 5rem;
    margin: 0 5rem;
  }

  &__item {
    margin-right: 5rem;
    
    &--last {
      margin-right: 0;
    }
  }

  &__link {
    color: $color-grey-dark-1;
    display: inline-block;
    margin-top: -2rem;
    font-size: 1.5rem;
  }

  &__active {
    text-decoration: none;
    color: $color-primary;
    fill: $color-primary;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 1.2rem;
  }
}

.sign-out-link {
  margin-top: 1rem;
}

.mobile-back-container {
  display: none;
}

.mobile-back {
  display: block;
  padding: 2rem;
}


//------------- Media Queries -------------//

@media only screen and (max-width: 900px) {
  .sign-out-link {
    display: none;
  }
}




