<div class="row company-header">
  <div class="col-md-3">
    <%= logo_helper(current_user, "company-header__logo") %>
  </div>
  <div class="col-md-6">
    <div class="company-header__name">
      <%= current_user.company.name %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="company-header__contact">
      9204 Venture Court<br>
      Manassas, VA 20111<br>
      P) 703.971.6840<br>
    </div>
  </div>
</div>