<div class="company-header">
  
  <h3 class="company-header__logo">UM</h3>

  <div class="company-header__name">
    United Masonry 
    Incorporated of 
    Virginia
  </div> 

  <div class="company-header__contact">
    9204 Venture Court<br>
    Manassas, VA 20111<br>
    P) 703.971.6840<br>
  </div>
</div>