<div class="row company-header">
  <div class="col-md-3">
    <%= image_tag("um-logo.png", class: "company-header__logo") %>
  </div>
  <div class="col-md-6">
    <div class="company-header__name">
      United Masonry 
      Incorporated of 
      Virginia
    </div>
  </div>
  <div class="col-md-3">
    <div class="company-header__contact">
      9204 Venture Court<br>
      Manassas, VA 20111<br>
      P) 703.971.6840<br>
    </div>
  </div>
</div>