<nav class="sidebar">
  <ul class="side-nav">
    <li class="side-nav__item side-nav__item--active">
      <a href="#" class="side-nav__link">
        <%= display_icon("spinner2", "side-nav__icon") %>
        <span class="side-nav__link-text">Overview</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <%= display_icon("clipboard-edit", "side-nav__icon") %>
        <span class="side-nav__link-text">Forms</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <%= display_icon("play", "side-nav__icon") %>
        <span class="side-nav__link-text">Courses</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <%= display_icon("lock1", "side-nav__icon") %>
        <span class="side-nav__link-text">Admin</span>
      </a>
    </li>
  </ul>
</nav>