<h1>My Forms</h1>

<%= form_tag new_form_path, method: :get do %>
  <%= select_tag :form_type_id, options_from_collection_for_select(FormType.all, :id, :name) %>
  <%= submit_tag "New Form", name: nil %>
<% end %>

<% current_user.forms.each do |form| %>
  <%= form.inspect %>
<% end %>