<h1>My Forms</h1>

<h3>Create a new form</h3>
<% @form_types.each do |form_type| %>
  <%= link_to "#{form_type.name}", new_form_type_form(form_type) %>
<% end %>

<% current_user.forms.each do |form| %>
  <%= form.inspect %>
<% end %>

