<h1><%= @form_type.name %></h1>

<% @form.properties.each do |name, value| %>
  <p>
    <b><%= name.humanize %>:</b>
    <%= value %>
  </p>
<% end %>

<%= link_to "Edit", edit_form_type_form_path(@form_type, @form) %>